
<header id="indexHeader" class="index-header">
    <h1 id="indexHeaderH1" class="index-header-h1">
        {{title}}
    </h1>
    <p id="indexHeaderPara1" class="index-header-para-1">
        {{description}}
    </p>
    <p id="indexHeaderPara2" class="index-header-para-2">
         You NOW POSSESS an advanced, and a technologically current cutting-edge tool with enormous ENABLING POWER!
    </p>    
</header>

<main>
        {{!-- <button id="indexBtn" class="index-btn" onClick="{{{(jumpTo '/register')}}}" > --}}
    <button id="indexBtn" class="index-btn">
        <a id="indexBtnA" class="index-btn-a" href="/register">Register</a>
    </button>    
</main>