
<main id="mainContainer" class="main-container">


    <lotteryai-header_shell></lotteryai-header_shell>


    {{!-- <button id="indexBtn" class="index-btn" onClick="{{{(jumpTo '/register')}}}" > --}}
    {{!-- <button id="indexBtn" class="index-btn">
        <a id="indexBtnA" class="index-btn-a" href="/register">Register</a>
    </button>    --}}

</main>
    
<copyright-webelistics id="copyright" class="copyright"></copyright-webelistics>