{{!-- pick3 Test Page --}}

<main id="pick3TestMainContainer" class="pick3-test-main-container">

    <header id="pick3Header" class="pick3-header">
        <h1>Pick3™️ Test Page</h1>
    </header>

    <p id="pick3TestPara1" class="pick3-test-para-1">
        For the current Pick3 winning numbers please click the Update button... 
    </p>

    <button id="pick3TestButton1" class="pick3-test-button-1">
        Update
    </button>

</main>


<style>
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: hsla(241, 100%, 50%, 0.993);
        justify: start;
    }
    
    h1 {
        margin: 0.5em auto 1.2em auto;
        font-family: fantasy;
        font-size: 1.8em;
        font-weight: 500;
        color: hsla(196, 51%, 70%, 0.993);
        text-shadow: 2px 1px 6px hsla(0, 0%, 0%, 0.793);
        text-align: center;
        letter-spacing: 0.3em;
    }

    .pick3-test-para-1 {
        font-family: sans-serif;
        font-size: 0.8em;
        font-weight: 400;
        color: hsla(195, 53%, 79%, 0.993);
        text-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.793);
        text-align: center;
        justify: center;
        letter-spacing: 0.3em;
    }

    .pick3-test-button-1 {
        margin: 1.2em auto 1.5em auto;
        padding: 0.5em 1.2em;
        display: block;
        width: 100px;
        text-align: center;
        font-family: sans-serif;
        font-size: 0.8em;
        font-weight: 400;
        color: hsla(241, 100%, 50%, 0.993);
        text-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.793);
        background-color: hsla(196, 51%, 70%, 0.993);
        border: 1px solid hsla(195, 53%, 79%, 0.993);
        border-radius: 0.3em;
        filter: drop-shadow(0px 2px 7px hsla(0, 0%, 0%, 0.693)); 
        box-shadow: inset 1px 1px 7px hsla(0, 0%, 0%, 0.893);
        cursor: pointer;
        transition: 0.3s;
    }

    .pick3-test-button-1:hover {
        background-color: hsla(196, 51%, 60%, 0.993);
        color: hsla(240, 1%, 77%, 0.993);
        scale: 1.1;
    }

    .pick3-test-button-1:active {
        background-color: hsla(196, 98%, 22%, 0.993);
        color: hsl(90, 100%, 50%);
        box-shadow: inset 1px 1px 7px hsla(0, 97%, 57%, 0.893);
        scale: 1.2;

    }

    .data-para {
        font-family: sans-serif;
        font-size: 1.2em;
        font-weight: 700;
        color: hsla(195, 53%, 79%, 0.993);
        text-shadow: 1px 1px 3px hsla(0, 0%, 0%, 0.793);
        text-align: center;
        justify: center;
        letter-spacing: 0.2444em;}
</style>



