{{!-- 404 BROWSER ERROR --}}

<browser-404 id="browser404" class="browser-404" data="" active="false">
    <section id="sectionH1404" class="browser-404__content">
        <h1 id="h1404" class="browser-404__title">404</h1>
        <p id="p404" class="browser-404__message">The page you are looking for does not exist.</p>
        <a href="/" class="browser-404__link">Go to Lottery Ai page</a>
    </section>
    <div class="browser-404__image">
        <img src="/images/404.svg" alt="404" class="browser-404__img">
    </div>

    <section id="typescriptRef404" class="typescript-ref-404">
        
    </section>

</browser-404>