<!--    Team Webelistics® LLC  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2024/04/02'     -->

{{!-- Pick Test Layout File --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> meta_head}}
    {{> seo_head}}
    {{> styles_partial}}
    {{{script}}}

    <title>{{{title}}}</title>
</head>

<body id="mainBody" class="main-body">
    {{{body}}}
</body>