<!--    Team Webelistics® LLC  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2024/05/30'     -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> meta_head}}
    {{> seo_head}}
    {{> styles_partial}}
    {{{script}}}
    {{> pick3_predictions_partial}}
    {{> pick3Favicon_partial}}
    <title>{{{title}}}</title>
</head>

<body id="mainBody" class="main-body">
    {{{body}}}
</body>