<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> meta_head}}
    {{> seo_head}}
    {{> styles_partial}}
    {{{script}}}
    <title>{{{title}}}</title>    
</head>
<body id="registerBody" class="register-body">
    {{{body}}}
</body>
</html>