<!--    Team Webelistics® LLC  Internet Application Development    -->
<!--     Gordon R. Mullen Jr  'Date: 2024/03/13'     -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{> meta_head}}
    {{> seo_head}}
    {{> state_mgt_partial}}
    {{{script}}}
    <title>{{{title}}}</title>
</head>

<body id="bodyState" class="body_state">
    {{{body}}}
</body>