<header id="headerPartial" class="header-partial">
    <figure id="headerFigurePartial" class="header-figure-partial">
        <figcaption id="headerCaptionPartial" class="header-caption-partial">{{headerCaption}}</figcaption>
        <img id="headerImagePartial" class="header-image-partial" src="../images/tw_logo.ico" alt="Team Webelistics®️ LLC Logo Image" />
    </figure>

    <h1 class="header-00_h1-partial">Team</h1>
    <h1 id="headerH1Partial" class="header-01_h1-partial">
        Webelistics<sup class="sup-register">®️</sup><small class="sm-llc">LLC</small>
    </h1>
    <p id="headerParaPartial" class="header-para-partial">
        Internet Application Development
    </p>
</header>

<style>
    .header-partial {
        margin: 1.24em 0em 0em 15%;
        padding: 0.21em 0em 0.01em 0.31em;
        display: inline-block;
        width: 29%;
        max-width: 30%;
        max-height: 08em;
        color: hsla(248, 39%, 39%, 0.993);
        border: 0.42em solid hsla(248, 53%, 58%, 0.795);
        border-radius: 1.08em;
        background-color: hsla(187, 52%, 80%, 0.993);
        filter: drop-shadow(0 0 0.43em hsla(0, 0%, 0%, 0.389));
        box-shadow: inset 0.2em 0.2em 0.75em hsla(0, 0%, 0%, 0.389);
    }
    .header-partial .header-figure-partial {
        margin: 0;
        padding: 0;
        display: inline-block;
        text-align: start;
    }
    .header-figure-partial .header-caption-partial {
        margin: 0;
        padding: 0;
    }
    .header-figure-partial .header-image-partial {
        margin: 0.68001em 0em 0em 0.8em;
        padding: 0;
        display: inline-block;
        text-align: left;
        width: 2.330em;
        filter: drop-shadow(0.1em 0.1em 0.47em hsla(0, 0%, 0%, 0.513));
    }
    .header-partial .header-00_h1-partial {
        margin: -2.73em 0em 0em 0.7em;
        padding: 0;
        display: inline-block;
        text-align: left;
        font-family: 'Chango', sans-serif;
        font-size: 1.812rem;
        font-weight: 400;
        color: hsla(207, 44%, 49%, 0.993);
        text-shadow: 0.1em 0.1em 0.37em hsla(0, 0%, 0%, 0.513);
        letter-spacing: 0.0422em;
    }
    .header-partial .header-01_h1-partial {
        margin: -2.73em 0em 0em -0.02em;
        padding: 0;
        display: inline-block;
        text-align: center;
        font-family: 'Chango', sans-serif;
        font-size: 1.812rem;
        font-weight: 400;
        color: hsla(207, 44%, 49%, 0.993);
        text-shadow: 0.1em 0.1em 0.37em hsla(0, 0%, 0%, 0.513);
        letter-spacing: 0.0422em;
    }

    .header-partial .header-01_h1-partial .sup-register {
        font-size: xx-small;
    }
    .header-partial .header-01_h1-partial .sm-llc {
        font-size: 0.48rem;
    }
    .header-para-partial {
        margin: 0em 0em 0em 21%;
        padding: 0;
        display: inline-block;
        position: relative;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.05rem;
        font-weight: 300;
        text-shadow: 0.1em 0.1em 0.37em hsla(0, 0%, 0%, 0.513);
    }

    @media screen and (max-width: 1995px) {
        .header-partial {
            width: 29%;
        }         
        .header-partial .header-00_h1-partial {
            font-size: 1.655rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 1.655rem;          
         }
        .header-para-partial {
            margin: 0em 0em 0em 20%;
     
        } 
    } 
    @media screen and (max-width: 1915px) {
        .header-partial {
            width: 28.5%;
        }         
        .header-partial .header-00_h1-partial {
            font-size: 1.555rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 1.555rem;          
         }
        .header-para-partial {
            margin: 0em 0em 0em 19.5%;     
        } 
    } 
    @media screen and (max-width: 1825px) {
        .header-partial {
            width: 28%;
        }         
        .header-partial .header-00_h1-partial {
            font-size: 1.455rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 1.455rem;          
         }
        .header-para-partial {
            margin: 0em 0em 0em 19%;     
        } 
    } 
    @media screen and (max-width: 1775px) {
        .header-partial {
            width: 27.7%;
        }         
        .header-partial .header-00_h1-partial {
            font-size: 1.355rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 1.355rem;          
         }
        .header-para-partial {
            margin: 0em 0em 0em 19%;     
        } 
    } 
    @media screen and (max-width: 1655px) {
        .header-partial {
            width: 27.7%;
        }         
        .header-partial .header-00_h1-partial {
            font-size: 1.255rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 1.255rem;          
         }
        .header-para-partial {
            margin: 0em 0em 0em 19%;     
        } 
    } 
    @media screen and (max-width: 1585px) {
        .header-partial {
            width: 27.7%;
        }  
        .header-partial .header-00_h1-partial {
            font-size: 1.155rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 1.155rem;          
         }
        .header-para-partial {
            margin: 0em 0em 0em 18.9%;     
        } 
    } 
    @media screen and (max-width: 1500px) {
        .header-partial {
            max-width: 27%;
        }  

        .header-partial .header-00_h1-partial {
            font-size: 1.0811rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 1.0811rem;          
         }
        .header-para-partial {
            margin: 0em 0em 0em 18.8%;
            font-size: 0.95rem;     
        }         
    @media screen and (max-width: 1445px) {
        .header-partial {
            max-width: 26.7%;
        }  
        .header-partial .header-00_h1-partial {
            font-size: 1rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 1rem;          
         }
        .header-para-partial {
            font-size: 0.91rem;     
        }    
    }     
    @media screen and (max-width: 1385px) {
        .header-figure-partial .header-image-partial {
            margin: 0.18001em 0em 0em 0.8em;  
            width: 1.9em;
        }
        .header-partial .header-00_h1-partial {
            font-size: 0.9rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 0.9rem;          
         }
        .header-para-partial {
            max-height: 07em;
            font-size: 0.85rem;     
        }  
    }       
    @media screen and (max-width: 1295px) {
        .header-partial .header-00_h1-partial {
            font-size: 0.8rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 0.8rem;          
         }
        .header-para-partial {
            max-height: 06.7em;
            font-size: 0.8rem;     
        }  
    }       
    @media screen and (max-width: 1200px) {

        .header-figure-partial .header-image-partial {
            margin: 0.18001em 0em 0em 0.8em;  
            width: 1.5em;
        }
        .header-partial {
            min-width: 300px;
        }
        .header-partial .header-00_h1-partial {
            font-size: 0.7rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 0.79rem;          
         }
        .header-para-partial {
            font-size: 0.79rem;     
        }  
    } 

    @media only screen and (max-width: 900px) {
        .header-partial .header-00_h1-partial {
            font-size: 0.78rem;          
        }
        .header-partial .header-01_h1-partial {
            font-size: 0.78rem;          
         }
    }           
}

</style>

