<header id="headerPartial" class="header-partial">
    <figure id="headerFigurePartial" class="header-figure-partial">
        <img id="headerImagePartial" class="header-image-partial" src="./images/tw_logo.svg" alt="Team Webelistics®️ LLC Logo Image" />
        <figcaption id="headerCaptionPartial" class="header-caption-partial">{{headerCaption}}</figcaption>
    </figure>

    <h1 id="headerH1Partial" class="header-h1-partial">
        Team Webelistics®️ LLC
    </h1>
    <p id="headerParaPartial" class="header-para-partial">
        Internet Application Development
    </p>
</header>

<style>
    .header-partial {
        margin: 1em auto 1.5em 27.3323%;
        padding: 0.3em 0.3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 47%;
        color: hsla(248, 39%, 39%, 0.993);
        font-family: 'Chango', sans-serif;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        border: 0.7em solid hsla(248, 53%, 58%, 0.979);
        border-radius: 1.38em;
        background-color: hsla(187, 52%, 80%, 0.993);
        filter: drop-shadow(0 0 0.75rem hsla(0, 0%, 0%, 0.673));
        box-shadow: inset 0.4em 0.4em 1.15em hsla(0, 0%, 0%, 0.473);
    }

    .header-figure-partial {
        margin: 0;
        padding: 0;
    }

    .header-image-partial {
        width: 2em;
        margin: 0;
        padding: 0;
    }

    .header-caption-partial {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
    }

    .header-h1-partial {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        font-weight: 400;
        color: hsla(207, 44%, 49%, 0.993);
    }

    .header-para-partial {
        margin: 0;
        padding: 0;
        font-size: 1.02rem;
        font-weight: 200;
    }
</style>